* {
  font-family: "DM Sans", sans-serif;
  --text: #ffffff;

  --primary: #5357ea;
  --primary-hover: #31336e;
  --primary-active: #1f25ce;
  --primary-disabled: rgba(83, 87, 234, 0.5);
  --primary-outlined-hover: #5357ea;

  --success: #1b711b;
  --success-hover: #02520d;
  --success-active: #1d871d;
  --success-disabled: rgba(27, 113, 27, 0.75);
  --success-outlined-hover: #1b711b;

  --danger: #cf1717;
  --danger-hover: #b32222;
  --danger-active: #ed0c0c;
  --danger-disabled: rgba(207, 23, 23, 0.75);
  --danger-outlined-hover: #cf1717;

  --padding-small: 0.25rem;
  --padding-medium: 0.625rem;
  --padding-large: 0.875rem;
  --outline-width: 0.125rem;
  --outline-width-offset: -0.125rem;
}
